@media (max-width: 1100px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
  main,
  .container-out {
    max-width: 729px;
    margin-inline: auto;
  }

  section {
    padding-inline: 0;
    margin-block-end: 144px;
  }

  header {
    max-width: 729px;
    margin-block-end: 144px;

    .header-home {
      background-image: url(../assets/about/tablet/image-hero-whitecup.jpg);
      min-height: 400px;
      .header-home-text {
        margin-inline-start: 58px;
        div {
          h1 {
            font-size: 32px;
            line-height: 40px;
          }
          p {
            max-width: 398px;
          }
        }
      }
    }
  }

  .commitment {
    min-height: 470px;
    gap: 69px;
    .commitment-img {
      picture {
        width: auto;
      }
    }
    .commitment-text {
      h2 {
        font-size: 32px;
      }
    }
  }

  .quality {
    min-height: 648px;
    .quality-img {
      width: 83%;
      right: 50%;
      transform: translateX(50%);
    }
    .quality-dark {
      align-content: end;
      min-height: 488px;
      .quality-text {
        height: 197px;
        max-width: none;
        width: auto;
        justify-content: flex-end;
        margin-block-end: 67px;
      }
    }
  }

  .headquarters {
    .headquarters-items {
      margin-inline-end: 0;
    }
    .headquarters-item {
      width: 223px;
      width: 100%;
      h3 {
        font-size: 24px;
      }
      ul {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .footer {
    flex-direction: column;
    padding-block: 54px;
    min-height: 270px;
    margin-block-end: 72px;
    ul {
      padding-block-end: 32px;
    }
  }
}
