@media (max-width: 930px) {
  .container-in {
    max-width: 709px;
    padding-inline: 20px;
    margin-inline: auto;
  }
  .container-out {
    margin-inline: 40px;
    padding-inline: 0;
  }
  header {
    min-height: 619px;
    max-width: 729px;
    margin-block-end: 144px;
    .header-top {
      min-height: 119px;
    }
    .header-home {
      background-image: url(../assets/home/tablet/image-hero-coffeepress.jpg);
      .header-home-text {
        width: 398px;
        height: 292px;
        margin-inline-start: 38px;
        div {
          h1 {
            font-size: 48px;
            line-height: 48px;
          }
          p {
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }
  .collection {
    margin-block-end: 144px;
    .collection-items {
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      align-items: center;
      padding-block-start: 59px;
      img {
        padding-block-start: 0px;
        width: 255px;
      }
      .collection-item {
        flex-direction: row;
        height: 193px;
        gap: 36px;
        div {
          gap: 24px;
          justify-content: flex-start;
          align-items: flex-start;
          max-width: 282px;
          h3 {
            padding-block-start: 30px;
          }
          p {
            text-align: left;
          }
        }
      }
    }
  }
  .choose {
    margin-block-end: 280px;
    .choose-head {
      h2 {
        padding-block-start: 56px;
        padding-block-end: 24px;
        font-size: 32px;
      }
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
    .choose-items {
      flex-direction: column;
      gap: 24px;
      padding-inline: 68px;
      bottom: auto;
      top: 36%;
      .choose-items-inner {
        width: 100%;
        height: 180px;
        min-height: auto;
        flex-direction: row;
        justify-content: center;
        padding-inline: 20px;
        padding-block: 0;
        gap: 55px;
        img {
          width: 56px;
          height: 56px;
        }
        .choose-items-text {
          width: 344px;
          height: 98px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          p {
            text-align: start;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }
  .works {
    padding-block-end: 144px;
    & .works-items {
      justify-content: space-between;
      & .works-item {
        padding-inline-end: 10px;
        max-width: 223px;
        justify-content: start;
        div {
          margin-block-end: 48px;
        }
        .item-number {
          margin-block-end: 42px;
        }
        h3 {
          font-size: 28px;
          line-height: 32px;
          max-width: 223px;
          margin-block-end: 38px;
        }
        .item-text {
          font-size: 15px;
          line-height: 25px;
          max-width: 223px;
          text-wrap: balance;
        }
      }
    }
  }
  .footer {
    flex-direction: column;
    padding-block: 54px;
    min-height: 270px;
    margin-block-end: 72px;
    ul {
      padding-block-end: 32px;
    }
  }
}